<style>
.navbar {
    width: 100%;
    margin-bottom: 50px;
}

.navbar_links {
    float: left;
    width: 30%;
    margin-bottom: 50px;
}

</style>

<nav class="navbar" id="navbar">
    <div class="container-fluid">
        <div id="navbar-links" class="navbar_links">
            <a href="{% url "home" %}">
                <span>Home</span>
            </a>
        </div>
        <div id="navbar-links" class="navbar_links">
            <a href="{% url "journal" %}">
                <span>Journal</span>
            </a>
        </div>
        <div id="navbar-links" class="navbar_links">
            <a href="{% url "journal_entry" %}">
                <span>Write Journal Entry</span>
            </a>
        </div>
    </div>
</nav>
