<!doctype html>
<html lang="en">

    <head>

        <title>foodWise | {% block title %}{% endblock %}</title>
        {# FAVICON #}
{#        {% include 'favicon.html' %}#}

        {# This is where stuff specific to pages goes #}
        {% block extrahead %}{% endblock %}

    </head>

    <body class="{% block body-class %}{% endblock %}">
        {% include 'foodwise/components/navbar.html' %}

        {# This is where the body of specific pages goes #}
        {% block body %}{% endblock %}

        {% include 'foodwise/components/footer.html' %}
    </body>
</html>
