{% extends "foodwise/base.html" %}
{#{%  load tags %}#}

{% block title %}FoodWise Journal Entry{% endblock %}

{% block extrahead %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="header">
            <h2>FoodWise Journal Entry</h2>
        </div>
        <div class="form">
            <form action="journal_entry.html" method="get">{%  csrf_token %}
                <h4>
                    {{ form.photo.label }}
                </h4>
                <div>
                    {{ form.photo }}
                </div>
                <h4>
                    {{ form.ingredients.label }}
                </h4>
                <div>
                    {{ form.ingredients }}
                </div>
                <h4>
                    {{ form.rotation.label }}
                </h4>
                <div>
                    {{ form.rotation }}
                </div>
                <h4>
                    {{ form.timestamp.label }}
                </h4>
                <div>
                    {{ form.timestamp }}
                </div>
                <h4>
                    {{ form.note.label }}
                </h4>
                <div>
                    {{ form.note }}
                </div>

{#                {% for field in form %}#}
{#                    <h4>{{ field.label }}</h4>#}
{#                    {%  if field.help_text %}#}
{#                        <p>{{ field.help_text }}</p>#}
{#                    {% endif %}#}
{#                    {% if field %}#}
{#                        {% for choice in field.choices %}#}
{#                            {{ choice }}#}
{#                        {%  endfor %}#}
{#                    {% else %}#}
{#                       {{ field }}#}
{#                    {% endif %}#}
{#                {%  endfor %}#}
{#                form.as_p#}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>

{% endblock %}
