{% extends "foodwise/base.html" %}

{% block title %}FoodWise Journal{% endblock %}

{% block extrahead %}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="header">
            <h2>foodWise Journal</h2>
        </div>
    </div>

{% endblock %}
